* {
    margin: 0px auto;
}

:root {
    --brand-color: hsl(176, 50%, 47%);
    --brand-color-dark: hsl(176, 72%, 28%);
    --mobile: 375px;
    --desktop: 1440px;
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);
    --light-gray: hsl(0, 0%, 72%);
    --font-size: 16px;
    --bold: 400; 
    --bolder: 400; 
    --boldest: 700;
}

.banner {
    width: 100%;
    height: 400px;
    background-image: url(../images/image-hero-desktop.jpg);
}

/* FLEX */
.banner nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px 10%;
    padding: 50px 0 0 0;
}

/* DRY - Don't Repeat Yourself */
.banner nav ul,
.banner span {
    margin: 0px;
}

.banner nav ul.list {
    display: flex;
    list-style: none;
    width: 30%;
    color: #fff;
}

ul.list li {
    margin: 0 0 0 55px;
}


section {
    background-color: rgb(122 122 122 / 7%)
}
main {
    width: 50%;
    margin: 0px 25%;
}

main div {
    display: none;
}

.mastercraft {
    display: block;
    bottom: 80px;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    background: #fff;
    text-align: center
}
.mastercraft-icon {
    position: absolute;
    bottom: 85%;
    margin: 0 auto;
    left: 21em;
}

.fund-btn {
    background: var(--brand-color);
    color: #fff;
    border: 1px solid var(--brand-color);
    border-radius: 23px;
    width: 150px;
    height: 40px;
}
.bookmark-btn {
    background: var(--light-gray);
    border: 1px solid var(--light-gray);
    border-radius: 23px;
    text-align: left;
    padding: 0px;
    width: 150px;
    height: 40px;
}

.bookmark-btn img {
    width: 30px;
    
}