@import "animation.css";

@font-face {
    font-family: "Commissioner";
    src: url(../fonts/Commissioner/static/Commissioner-Regular.ttf);
}


* {
    margin: 0px;
    font-family: "Commissioner"
}

button:hover {
    cursor: pointer;
}

:root {
    --brand-color: hsl(176, 50%, 47%);
    --brand-color-dark: hsl(176, 72%, 28%);
    --mobile: 375px;
    --desktop: 1440px;
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);
    --light-gray: hsl(0, 0%, 72%);
    --font-size: 16px;
    --bold: 400; 
    --bolder: 400; 
    --boldest: 700;
}



.banner {
    width: 100%;
    height: 400px;
    background-image: url(../images/image-hero-desktop.jpg);
}

/* FLEX */
.banner nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px 10%;
    padding: 50px 0 0 0;
}

/* DRY - Don't Repeat Yourself */
.banner nav ul,
.banner span {
    margin: 0px;
}

.banner nav ul.list {
    display: flex;
    list-style: none;
    width: 30%;
    color: #fff;
}

ul.list li {
    margin: 0 0 0 55px;
}


section {
    background-color: rgb(122 122 122 / 7%)
}
main {
    width: 50%;
    margin: 0px 25%;
}

main p{
    color: var(--light-gray);
}

.mastercraft {
    display: block;
    bottom: 80px;
    border-radius: 10px;
    padding:0px 20px 40px;
    position: relative;
    background: #fff;
    text-align: center
}

.master_desc, 
.btn_group,
.master_title {
    margin-bottom: 20px;
}


.mastercraft-icon {
    position: relative;
    bottom: 2em;
    margin: 0 auto;
}

.fund-btn {
    background: var(--brand-color);
    color: #fff;
    border: 1px solid var(--brand-color);
}

.fund-btn:hover {
    background-color: var(--brand-color-dark);
} 


.btn_group{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px 5%;
}

.btn_group button {
    width: 180px;
    height: 50px;
    border-radius: 30px;
    font-size: 15px;
}

.bookmark-circ {
    fill:#2F2F2F;
}
.bookmark-path {
    fill: #B1B1B1;
}

.bookmark-btn {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    background: var(--light-gray);
    border: 1px solid var(--light-gray);
    text-align: left;
    padding: 0px;
}

.bookmark-btn img {
    width: 50px; 
}

.bookmark-btn:hover {
    opacity: 0.5;
}

.figures{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Commissioner";
  height: 150px;
  padding: 40px 50px;  
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  bottom: 50px;

}

.figure1{
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 30px;
        border-right: 2px solid;
        border-color: rgb(219, 218, 218) ;
        width: 500px;
    }

.figure2{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 30px;
    border-right: 2px solid;
    border-color: rgb(219, 218, 218);
    width: 500px;
    text-align: center;
    padding-right: 40px;
}

.figure3{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 30px;
    width: 500px;
    padding-left: 35px;
}

.figure1 span,
.figure2 span,
.figure3 span{
    font-weight: 200;
    color: var(--light-gray);
    font-size: 14px;
    margin-top: 5px;
}
